body{
    background: #eee;
}

#theme-buttone{
    font-size: 24px;
    display: block;
    width: 200px;
    margin: auto;
    padding: 150px;
    cursor: pointer;
}

#theme-buttone.classic{
    background: gray;
}
#theme-buttone.dark{
    background: yellow;
}

header{

    padding: 10px;
    text-align: center;
    position: fixed;
    width: 100%;
    z-index: 1;
    top: 0px;
    left: 0px;
}

header.classic{
    background-color: rgb(121, 140, 165);
}

header.dark{
    background-color: #000000;
}

